.project-card {
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  min-width: 80%;
  max-width: 80%;
}

.project-card-hovered {
  margin-bottom: 20px;
  padding: 10px 10px 10px 10px;
  min-width: 85%;
  max-width: 85%;
}