div.heading {
  padding-top: 4em;
  margin-left: 2em;
}

div.two-column-container {
  display: flex;
  margin-top: 2em;
  margin-left: 2em;

  .left-column {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .right-column {
    display: inline-block;
    width: 50%;
  }
}