div.login-div {
  width: 100%;
  text-align: center;

  div.logo-div {
    text-align: center;
    object.small-logo-opacity {
      margin-top: 40px;
      opacity: 0.3;
      max-width: 100px;
    }
  }
}