@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500);
html, html * {
  font-family: Roboto;

  margin: 0px;
  padding: 0px;

  body {
    background-color: #CCCCCC;
    color: black;
    font-size: 1em;
  }
}