div.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2em;
  background-color: black;
  color: white;

  ul {
    position: absolute;
    top:0;
    left: 0;
    text-align: left;
    width: 100%;
    margin: 0em;
    padding: 0em;

    list-style-type: none;
    li {
      height: 2em;
      width: 100px;
      padding-top: 0.5em;
      padding-right: 1em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      display: inline;
    }
    li:hover {
      background-color: chocolate;
    }
  }

  div.user-div {

  }
}