div.menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background-color: black;
  color: white;

  div.menu-options {
    width: 70%;
    display: inline-block;
    text-align: left;
  }

  div.user-div {
    width: 30%;
    display: inline-block;
    text-align: right;
  }

  div.menu-options > ul, div.user-div > ul {
    font-weight: 700;
    list-style-type: none;
    height: 2em;
    li {
      line-height: 2em;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      padding-left: 0.4em;
      padding-right: 0.4em;
      display: inline;
      min-width: 100px;
    }
    li:hover {
      background-color: chocolate;
    }
    object.mini-logo {
      width: 1.5em;
    }
  }

}