div.menubar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 2em;
  background-color: black;
  color: white;


  div.menu-options {
    width: 70%;
    display: inline-block;
    text-align: left;
  }

  div.user-div {
    width: 30%;
    display: inline-block;
    text-align: right;
  }

  div.menu-options > ul, div.user-div > ul {
    font-weight: 300;
    top: 0;
    padding-top: 0.4em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    left: 0;
    margin: 0em;
    list-style-type: none;
    li {
      padding-left: 0.4em;
      padding-right: 0.4em;
      margin: 0em;
      display: inline;
    }
    li:hover {
      color: chocolate;
    }
  }

}